.grid-container{
    display: grid;
    background-color: magenta;
    padding: 5px;
    grid-template-columns: auto auto auto auto;
}



.grid-item{
    background-color: green;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 3px;
    padding: 2px;
    color: white;
}


.item5{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item6{
    grid-column-start: 3;
    grid-column-end: 5;
}